.DS_Store
/backup/
/bash/plugin/*
/bash_profile
/bashrc
/Session.vim
/emacs
/emacs.d
/tmux.conf
/tags
/tmux/plugin/*
/vim/autoload/plug.vim
/vim/bundle/*
/vim/plugged/*
/vim/Session.vim
/vimrc.after
/zshrc
