.DS_Store
backup/
bash/plugin
bash_profile
bashrc
Session.vim
emacs
emacs.d/*
tmux.conf
tags
tmux/plugin
vim/autoload/*
vim/bundle
vim/plugged
vim/Session.vim
vimrc.after
vimrc
zshrc
!emacs.d/emacs.init
!vim/autoload/plug.vim
!vim/vimrc.after
!vim/vimrc

