.DS_Store
backup/
bash/plugin
bash_profile
bashrc
Session.vim
emacs
emacs.d/*
!emacs.d/emacs.init
tmux.conf
tags
tmux/plugin
vim/autoload/*
!vim/autoload/plug.vim
vim/bundle
vim/plugged
vim/Session.vim
vimrc.after
vimrc
zshrc
