add check-state
add allow udp from any to any 21 setup keep-state
add allow tcp from any to any 21 setup keep-state
add allow udp from any to any 22 setup keep-state
add allow tcp from any to any 22 setup keep-state
add allow udp from any to any 23 setup keep-state
add allow tcp from any to any 23 setup keep-state
add allow udp from any to any 25 setup keep-state
add allow tcp from any to any 25 setup keep-state
add allow udp from any to any 80 setup keep-state
add allow tcp from any to any 80 setup keep-state
add allow udp from any to any 109 setup keep-state
add allow tcp from any to any 109 setup keep-state
add allow udp from any to any 110 setup keep-state
add allow tcp from any to any 110 setup keep-state
add allow udp from any to any 143 setup keep-state
add allow tcp from any to any 143 setup keep-state
add allow udp from any to any 194 setup keep-state
add allow tcp from any to any 194 setup keep-state
add allow udp from any to any 220 setup keep-state
add allow tcp from any to any 220 setup keep-state
add allow udp from any to any 443 setup keep-state
add allow tcp from any to any 443 setup keep-state
add allow udp from any to any 465 setup keep-state
add allow tcp from any to any 465 setup keep-state
add allow udp from any to any 587 setup keep-state
add allow tcp from any to any 587 setup keep-state
add allow udp from any to any 993 setup keep-state
add allow tcp from any to any 993 setup keep-state
add allow udp from any to any 995 setup keep-state
add allow tcp from any to any 995 setup keep-state
add allow udp from any to any 1194 setup keep-state
add allow tcp from any to any 1194 setup keep-state
add allow udp from any to any 9041 setup keep-state
add allow tcp from any to any 9041 setup keep-state
